*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;   
<<<<<<< HEAD
    /* font-family:'Courier New', Courier, monospace; */
    /* font-family:Arial, Helvetica, sans-serif ; */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family:sans-serif;
}
/*Ildilim pidor*/
.header{
    width: 100%;
=======
}
/*Ildilim pidor*/
.header{
    width: 100vh;
>>>>>>> 479faa6d1b2f1997bc27a7f995d7b27b41f95594
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav-menu{
<<<<<<< HEAD
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-a{
    font-size: 15px;
    color: black;
}
.icon-img{
    padding-top: 14px;
    width: 30px;
}
.reg{
    margin-left: 30px;
    padding: 7px 25px;
    background-color: black;
    border: none ;
    color: white;
    border-radius: 10px;
}

.info-main{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50vh;
    align-items: center;

}
.EOW{
    font-size: 50px;
    font-weight: 700;
}
=======
    width: 100vh;
    display: flex;
    justify-content: space-around;
}
>>>>>>> 479faa6d1b2f1997bc27a7f995d7b27b41f95594
